html {
	font-family: sans-serif;
	font-size: 8px;
	overflow-y: scroll;
	overflow-x: auto;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;

	--scroll-top: 0px;
	--t-collapse: 0;
	--t-expand: calc(1 - var(--t-collapse));

	--main-column-max-width: 100rem;
	--title-font-size-expanded: 8rem;
	--title-font-size-collapsed: 4rem;
	--header-height-expanded: calc(min(70vh, 80rem));
	--header-height-collapsed: 7rem;
}

header {
	display: flex;
	position: sticky;
	top: 0;
	overflow: visible;
	z-index: 100;
}

nav {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	height: var(--header-height-collapsed);
	font-size: 2rem;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

nav li {
	position: relative;
	display: flex;
}

nav a {
	display: flex;
	align-items: center;
	padding: 0 1.5rem;
}

nav a:hover {
	background: rgba(0, 0, 0, 0.1);
}

nav a {
	text-decoration: none;
	color: white;
}

.nav-indicator-host {
	position: sticky;
	top: var(--header-height-collapsed);
	height: 0;
}

#nav-indicator {
	position: absolute;
	top: 0;
	left: 100%;
	width: 0;
	background: red;
	height: 1rem;

	transition: left 0.5s, width 0.5s;
}

.header-content {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(max(var(--header-height-collapsed), var(--header-height-expanded) - var(--scroll-top)));
	justify-content: center;
	overflow: hidden;
}

#header-background {
	position: sticky;
	top: calc(var(--header-height-collapsed) - var(--header-height-expanded));
	height: var(--header-height-expanded);
	background: lightcoral;
	border-bottom: 1px solid black;
}

h1,
header .tabs {
	font-size: calc(var(--t-expand) * var(--title-font-size-expanded) + var(--t-collapse) * var(--title-font-size-collapsed));
}

header .column-main {
	max-width: calc(var(--t-expand) * var(--main-column-max-width) + var(--t-collapse) * 100%);
}

h1 {
	margin: 0;
}

.subtitle-container {
	display: flex;
	align-items: center;
	font-size: 5rem;
	height: calc(var(--t-expand) * 3 * 5rem);
	opacity: var(--t-expand);
}

.subtitle {
	margin: 0;
	font-style: italic;
}

h2 {
	font-size: 3rem;
}

.tabs {
	display: flex;
	height: 1em;
	direction: rtl;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: monospace;
	overflow: hidden;
	user-select: none;
}

.tabs>:not(:first-child) {
	margin-right: 0.4em;
}

#name .pre-cursor {
	position: relative;
}

#name .cursor {
	color: white;
	background: black;
}

#name .select {
	background: yellow;
}

@keyframes blink {
	0% {
		opacity: 0.5;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		opacity: 0.5;
	}
}

#name .pre-cursor::after {
	content: '';
	animation: blink 2s infinite;
	background: blue;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0.1em;
	opacity: 0.5;
}

#name .highlight {
	background: red;
}

section {
	margin-top: 3rem;
}

.columns {
	display: flex;
	align-items: baseline;
}

.column-left,
.column-right {
	flex: 1;
}

.column-right {
	min-width: 1rem;
}

.column-main {
	flex: 0 1 100%;
	max-width: var(--main-column-max-width);
}

section p {
	height: 400px;
}